<h1>Listing Twitter influencers</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Photo</th>
    <th>Twitter username</th>
    <th>Number of sent messages</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @influencers.each do |influencer| %>
  <tr>
    <td><%= influencer.firstname %></td>
    <td><%= influencer.surname %></td>
    <td><%= image_tag influencer.photo_url %></td>
    <td><%= influencer.twitter_username %></td>
    <td><%= influencer.number_of_sent_messages %></td>
    <td><%= link_to 'Show', influencer %></td>
    <td><%= link_to 'Edit', edit_influencer_path(influencer) %></td>
    <td><%= link_to 'Destroy', influencer, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Twitter influencer', new_influencer_path %>
