<div id="conteneur">
<div id="contenu">
  <%= render 'header' %>
  <h1><%= title %></h1>

  <div class="video">
    <iframe src="http://player.vimeo.com/video/51821230?badge=0" width="400" height="220"
      frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

  <p class="proposal">
    <strong><%= @proposal.title %></strong>
    "Prof.Yunus does not deserve to be treated this way." New York Times, January 29, 2011
  </p>
  <p class="proposal">Microfinance pioneer Professor Muhammad Yunus – founder of Grameen Bank and, with it, winner
    of the 2006 Nobel Peace Prize – has already lost his position at the Bank because of partisan politics.
    Now, the government of Bangladesh's Prime Minister, Sheikh Hasina, is moving to take control of the Bank
    from the 8.3 million poor women who own it, endangering the future and the independence of this Nobel-winning organization.
  </p>
  <p class="proposal">
    Please support this petition on Avaaz.org to save the world’s best bank – help us reach 1 million signatures, to start a media firestorm about this shameless attack on Professor Yunus’s life work: http://www.avaaz.org/en/save_the_world_best_bank/  Then use your social networks to tell your friends and family about it, using the #imwithyunus hashtag!
  </p>

  <span id="header">
    <p><i>To which Twitter users do you want to show your support for Yunus?</i></p>
  </span>
  <center>
  <table border="0">
  <% @deputies.sort{|a,b| rand(2) <=> rand(2)}.each_with_index do |deputy, index| %>
    <% if index % 10 == 0 %>
      <tr>
    <% end %>
      <td>
        <span class="toolTip deputies" title="<%= "#{deputy.firstname} #{deputy.surname}" %>">
          <% sharing_url = "https://twitter.com/share?text=@#{deputy.twitter_username} #{@twitter_message}&related=makesensetwitts&url=http://imwithyun.us" %>
          <%= link_to sharing_url, :target => "_blank", :data => { :deputy_id => deputy.id, :proposal_id => params[:proposal_id] } do %>
            <img src="<%= deputy.photo_url %>" width="80px">
          <% end %>
        </span>
      </td>
    <% if index % 10 == 9 %>
      </tr>
    <% end %>
  <% end %>  
  </table>
  <center>
    
  <%= render 'shared/ref' %>
</div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
