<div id="conteneur">
<div id="contenu">
  <%= render 'header' %>
  <h1><%= title %> <span class="hashtag">#imwithyunus</span></h1>

  <div class="video">
    <iframe src="http://player.vimeo.com/video/51821230?badge=0" width="400" height="220"
      frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

  <p class="intro">
    <strong><%= @proposal.title %></strong>
  </p>
  <p class="intro">
    Microfinance pioneer Professor Muhammad Yunus – founder of Grameen Bank and 2006 Nobel
    Peace Prize – has lost his position at the Bank he founded because of partisan politics.
    Now Bangladesh's Prime Minister, Sheikh Hasina, is moving in to take control of the
    Bank away from the 8.3 million poor women who own it,
    endangering the future and the independence of the organization. 
  </p>
  <p class="intro">
    "Prof.Yunus does not deserve to be treated this way." The New York Times, January 29, 2011
  </p>

  <div class="clear"></div>

  <h3>1. Sign the petition on <%= link_to "Avaaz.org", "http://www.avaaz.org/fr/", :target => "_blank" %></h3>
  <p class="intro">
    Make a difference and help us save the world’s best bank! <br />
    We need to reach 1 million signatures and start a media firestorm about this shameless attack on Professor Yunus’s life work: 
    <%= link_to "http://www.avaaz.org/en/save_the_world_best_bank", "http://www.avaaz.org/en/save_the_world_best_bank", :target => "_blank" %>
  </p>

  <h3>2. Spread the word</h3>
  <p class="intro">
    Use your social networks to tell your friends and family, political leaders,
    media and your favourite entertainers about it, using the #imwithyunus hashtag! 
  </p>

  <span id="header">
    <p><i>To which Twitter users do you want to show your support of Yunus’ work?</i></p>
  </span>
  <center>
  <table border="0">
  <% @deputies.sort{|a,b| rand(2) <=> rand(2)}.each_with_index do |deputy, index| %>
    <% if index % 10 == 0 %>
      <tr>
    <% end %>
      <td>
        <span class="toolTip deputies" title="<%= "#{deputy.firstname} #{deputy.surname}" %>">
          <% sharing_url = "https://twitter.com/share?text=Hey @#{deputy.twitter_username} #{@twitter_message}&related=makesensetwitts&url=http://imwithyun.us" %>
          <%= link_to sharing_url, :target => "_blank", :data => { :deputy_id => deputy.id, :proposal_id => params[:proposal_id] } do %>
            <img src="<%= deputy.photo_url %>" width="80px">
          <% end %>
        </span>
      </td>
    <% if index % 10 == 9 %>
      </tr>
    <% end %>
  <% end %>  
  </table>
  <center>
    
  <%= render 'shared/ref' %>
</div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
