<div id="conteneur">
<div id="contenu">
  <%= render 'header' %>
  <h1><%= title %></h1>

  <p class="proposal">
    <strong><%= @proposal.title %></strong> - <%= @proposal.content %>
  </p>

  <span id="header">
    <p><i>To which Twitter user you want to show your support for Yunus?</i></p>
  </span>
  <center>
  <table border="0">
  <% @deputies.sort{|a,b| rand(2) <=> rand(2)}.each_with_index do |deputy, index| %>
    <% if index % 10 == 0 %>
      <tr>
    <% end %>
      <td>
        <span class="toolTip deputies" title="<%= "#{deputy.firstname} #{deputy.surname}" %>">
          <% sharing_url = "https://twitter.com/share?text=@#{deputy.twitter_username} #{@twitter_message}&related=makesensetwitts&url=http://imwithyun.us" %>
          <%= link_to sharing_url, :target => "_blank", :data => { :deputy_id => deputy.id, :proposal_id => params[:proposal_id] } do %>
            <img src="<%= deputy.photo_url %>" width="80px">
          <% end %>
        </span>
      </td>
    <% if index % 10 == 9 %>
      </tr>
    <% end %>
  <% end %>  
  </table>
  <center>
    
  <%= render 'shared/ref' %>
</div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
