<!DOCTYPE html>
<html>
<head>
  <title>Convergences2015 - SenseTwitt</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Soutiens les objectifs du millénaire en tweetant !" />
  <meta property="og:title" content="Avec le SenseTwitt de Convergences2015, je soutiens les objectifs du millénaire en tweetant !" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.convergences2015.org" />
  <meta property="og:image" content="http://www.convergences2015.org/Content/img/logo_top_1036.png" />
  <meta property="fb:page_id" content="451350898792" />
</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">

<%= yield %>

</body>
</html>
