<!DOCTYPE html>
<html>
<head>
  <title>I am with Yunus - SenseTwitt</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:description" name="description" content="'Prof.Yunus does not deserve to 
  be treated this way because of dirty politics.' New York Times" />
  <meta property="og:title" content="I am with Yunus; I support him with a tweet!" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://imwithyun.us" />
  <meta property="og:image" content="http://imwithyun.us/assets/logo.jpg" />
</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">

<%= yield %>

<%= javascript_include_tag "application" %>
</body>
</html>
